*{
	margin: 0;
	padding: 0;
	font-family: Arial;
}

.frame {
	height: 640px;
	width: 427px;
	margin: 50px 100px 50px 100px;
	position: relative;
}

#li1, #li2, #li3, #li4, #li5{
	display: block;
	height: 34px;
	line-height: 34px;
	text-align: center;
	position: absolute;
	width: 85px;
}


#li1 {
	border: 1px #cccccc solid;
	border-bottom: none;
	color: #000;
}

#li2, #li3, #li4, #li5 {
	border-bottom: 1px #cccccc solid;
	color: #b3b3b3;
}

#li2{
	left: 85px;
}

#li3 {
	left: 172px;
}

#li4 {
	left: 257px;
}

#li5 {
	left: 342px;
}

.div1, .div2, .div3, .div4, .div5 {
	border-top: 1px solid #cccccc;
	height: 427px;
	width: 427px;
	position: absolute;
	top: 34px;
	background-image: url(./images/GitHub-Mark.png);
	background-position: center;
	background-repeat: no-repeat;
}

.div1 {
	z-index: 1;
}

/*-------------------hover line-------------------*/

/*:hover_border*/

#li2:hover, #li3:hover, #li4:hover, #li5:hover {
	border: 1px #cccccc solid;
	border-bottom: none;
	color: #000;
    width: 85px;
}

#li2:hover {
	left: 87px;
}

#li3:hover {
	left: 172px;
}

#li4:hover {
	left: 257px;
}

#li5:hover {
	left: 342px;
}

#li2:hover ~ #li1, #li3:hover ~ #li1, #li4:hover ~ #li1, #li5:hover ~ #li1 {
	border-bottom: 1px #cccccc solid;
	border-top: none;
	border-left: none;
	border-right: none;
	color: #b3b3b3;
}

.div2:hover ~ #li1 {
	border-bottom: 1px #cccccc solid;
	border-top: none;
	border-left: none;
	border-right: none;
	color: #b3b3b3;
}

.div3:hover ~ #li1 {
	border-bottom: 1px #cccccc solid;
	border-top: none;
	border-left: none;
	border-right: none;
	color: #b3b3b3;
}

.div4:hover ~ #li1 {
	border-bottom: 1px #cccccc solid;
	border-top: none;
	border-left: none;
	border-right: none;
	color: #b3b3b3;
}

.div5:hover ~ #li1 {
	border-bottom: 1px #cccccc solid;
	border-top: none;
	border-left: none;
	border-right: none;
	color: #b3b3b3;
}

.div1:hover ~ #li1 {
	border-bottom: 1px #cccccc solid;
	border-top: none;
	border-left: none;
	border-right: none;
	color: #b3b3b3;
}


/*.div2:hover ~ #li1 {
	border-bottom: 1px #cccccc solid;
	border-top: none;
	border-left: none;
	border-right: none;
	color: #b3b3b3;
}

.div2:hover + #li2 {
	border-left: 1px #cccccc solid;
	border-right: 1px #cccccc solid;
	border-top: 1px #cccccc solid;
	border-bottom: none;
	color: #000;
}

.div3:hover + #li3 {
	border-left: 1px #cccccc solid;
	border-right: 1px #cccccc solid;
	border-top: 1px #cccccc solid;
	border-bottom: none;
	color: #000;
}

.div4:hover + #li4 {
	border-left: 1px #cccccc solid;
	border-right: 1px #cccccc solid;
	border-top: 1px #cccccc solid;
	border-bottom: none;
	color: #000;
}

.div5:hover + #li5 {
	border-left: 1px #cccccc solid;
	border-right: 1px #cccccc solid;
	border-top: 1px #cccccc solid;
	border-bottom: none;
	color: #000;
}*/

/*:hover_background*/
.div1:hover {
	background-image: url(./images/nyantocat.gif);
}

.div2:hover {
	background-image: url(./images/walk-1.gif);
}

.div3:hover {
	background-image: url(./images/walk-2.gif);
}

.div4:hover {
	background-image: url(./images/walk-3.gif);
}

.div5:hover {
	background-image: url(./images/baracktocat.gif);
}

/*:hover_z-index section*/

#li2:hover ~ .div1, #li3:hover ~ .div1, #li4:hover ~ .div1, #li5:hover ~ .div1 {
	z-index: 0;
}

#li2:hover ~ .div2{
	z-index: 9;
}

#li3:hover ~ .div3{
	z-index: 9;
}

#li4:hover ~ .div4{
	z-index: 9;
}

#li5:hover ~ .div5{
	z-index: 9;
}

.div2:hover  {
	z-index: 9;
}

.div3:hover  {
	z-index: 9;
}

.div4:hover  {
	z-index: 9;
}

.div5:hover  {
	z-index: 9;
}

